<div class="cnt_visual"></div>
<div class="cnt_hdr">
  <h2>한밭대학교<br /><strong>종합정보시스템</strong></h2>
</div>
<div class="cnt_list">
  <ul>
    <li>
      <button class="hanbat_sysBtn01">설문조사</button>
    </li>
    <li>
      <button class="hanbat_sysBtn02">통합상담</button>
    </li>
    <li>
      <button class="hanbat_sysBtn03">인재인증</button>
    </li>
    <li>
      <button class="hanbat_sysBtn04">취업관리</button>
    </li>
    <li>
      <button class="hanbat_sysBtn05">비교과관리</button>
    </li>
    <li>
      <button class="hanbat_sysBtn06">학생서비스</button>
    </li>
    <li>
      <button class="hanbat_sysBtn07">개인정보동의관리</button>
    </li>
  </ul>
</div>
