<div class="cnt_visual"></div>
<div class="cnt_hdr">
  <h2>한밭대학교<br /><strong>수강신청</strong></h2>
</div>
<div class="cnt_list">
  <ul>
    <li>
      <button class="hanbat_sysBtn01">관심과목</button>
    </li>
    <li>
      <button class="hanbat_sysBtn01">수강신청</button>
    </li>
    <li>
      <button class="hanbat_sysBtn01">시간표</button>
    </li>
    <li>
      <button
        class="hanbat_sysBtn01"
        onclick="location.href='hanbat02/hba00.00-index.html'"
      >
        공지사항
      </button>
    </li>
  </ul>
</div>
